
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
*.bval annex.largefiles=nothing
*.bvec annex.largefiles=nothing
*.json annex.largefiles=nothing
*.tsv annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
CHANGES annex.largefiles=nothing
README annex.largefiles=nothing
Huth/derivative/TextGrids/** annex.largefiles=nothing
Most people think Private is the "innocent" one, but if you’re playing him because you’ve seen the episode too many times, your vibe is actually: